<div class="container" [ngClass]="getContainerClass()">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
        </div>
        <input type="submit" style="background-color: #A7856D; color: #ffffff;" value="Login" class="btn solid" (click)="signIn()" />
      </form>

      <form class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"  required="required" autocomplete="off" ng-disabled="submitted"/>
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" [(ngModel)]="email" name="email" #emailInput="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" maxlength="40" required="required" autocomplete="off" ng-disabled="submitted"/>
          @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
          }
       
        </div>
        
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password" #passwordInput="ngModel" required minlength="4" maxlength="10" required="required" autocomplete="off" ng-disabled="submitted"/>


        
          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">

          </div>
        </div>
        <input type="submit" style="background-color: #A7856D; color: #ffffff;" class="btn" value="Sign up" (click)="signUp()" />
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, ex ratione. Aliquid!</p>
        <button class="btn transparent" (click)="showSignUp()">Sign up</button>
      </div>
      <img src="../../assets/images/ba11.png" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laboriosam ad deleniti.</p>
        <button class="btn transparent" (click)="showSignIn()">Sign in</button>
      </div>
      <img src="../../assets/images/ba22.png" class="image" alt="" />
    </div>
  </div>
</div>
