
@import "./../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
/* body {
    color: #995232;
    background-image: url('../assets/images/b8.jpg');
    background-size:cover;
           
            font-family: 'Varela Round', sans-serif;
            font-size: 13px;
            Cursor: url("./assets/images/n7la.png"),auto;
        } */