.product {
    display: inline-block;
    flex-wrap: wrap;
    gap: 20px;
    width: 260px;
    transition: transform 0.3s ease;
    border-radius: 8px; /* Set border radius here */
    position: relative; /* Required for absolute positioning */
    padding-bottom: 10px;
    padding-top: 10px;
}

.product::before {
    content: "";
    position: absolute;
    top: -5px; 
    right: -5px; 
    bottom: -5px; 
    left: -5px; 
  
}

.product:hover::before {
    border-radius: inherit;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Light border color */
    pointer-events: none; /* Allows hover on the underlying element */
    animation: border-pulse 1s infinite alternate; /* Adding a pulsating effect */
}

@keyframes border-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); /* Adjust size and color */
    }
}

.product:hover {
    transform: scale(1.05);

}

.product-image {
    align-items: center;
    text-align: center;
}

.product-image img {
    width: 150px;
    height: 180px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.product-details .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-details .type {
    font-style: italic;
    color: #666;
    margin-bottom: 5px;
}

.product-details .price {
    margin-top: 10px;
}

.product-details .price div {
    font-size: 16px;
}

.product-details .price div gold {
    color: gold;
    font-weight: bold;
}

.product:hover button {
    display: block;
  }
  
  .product-details button {
    display: none;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  .product button:hover {
    background-color: #0056b3;
  }
  .product:hover p{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .product-details p{
    display: none;
    
 
}
  .product:hover p:hover{
    -webkit-line-clamp: 6;
  } 