.product-image {
    max-width: 100%;
    max-height: 300px;
    height: auto;
}

.product-details {
    /* padding-left: 20px; Add some spacing between image and details */
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-type {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    color: #dc3545;
    padding-top: 30px;
}

.product-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.buy-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .row {
        display: flex; 
        flex-wrap: wrap; 
    }

    .col-md-6 {
        flex: 1; 
    }
}

.forml {
    padding-left: 20px;
    background-color: #EAD5BC;
    border-radius: 10px;
    height: 300px;
}

.forml-options {
    margin-top: 20px;
}

.quantity {
    width: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #4343433a;
    background-color: #EAD5BC;
    transition: all 0.3s ease;
}

.quantity:hover {
    border: 2px solid #CF9477;
    border-radius: 5px;
    transform: scale(1.1);
}

.quantity:focus {
    outline: none;
}

.quantity.active {
    background-color: #CF9477;
}

.erase-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: inline-block;
    font-size: 12px;
    color: #808080;
}

form {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.buttonn, .buttonz {
    width: 25px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #6c757d;
    color: #4e2611;
    font-size: 14px;
    background-color: #E6E0E0;
}

.buttonn {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.buttonz {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

input[type="text"] {
    width: 25px;
    height: 40px;
    color: #4e2611;
    font-size: 14px;
    text-align: center;
    background-color: #E6E0E0;
    border: 1px solid #6c757d;
}

.addbasket {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    background-color: #CF9477;
    border: 0px;
}

.wishlist {
    margin-top: 10px;
    border: 0px;
    background-color: transparent;
    font-size: 15px;
    color: #CF9477;
}

.footer {
    background-color: #EAD5BC;
    color: #ffffff;
    padding: 20px 0;
}

.footer h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer p, .footer ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .contact-info li, .footer .social-links li {
    margin-bottom: 5px;
}

.footer .social-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer .social-links a:hover {
    text-decoration: underline;
}

.footer .text-center {
    margin-top: 20px;
}
