<div>
    <img src="../../assets/images/SS/f1.webp" alt="Image 1" class="imagelfo9" >
</div>


<div style="display:flex;">
    <div style="padding: 10px;">
        <img src="../../assets/images/SS/ss1.webp" alt="Image 1" style="width: 399px; height: 133px; border-radius: 10px;">
    </div>
    <div style="padding: 10px;">
        <img src="../../assets/images/SS/ss2.webp" alt="Image 2" style="width: 399px; height: 133px; border-radius: 10px;">
    </div>
    <div style="padding: 10px;">
        <img src="../../assets/images/SS/ss3.webp" alt="Image 3" style="width: 399px; height: 133px; border-radius: 10px;">
    </div>
</div>


<div style="text-align: center; color: #EAD5BC; font-weight: bold; font-size: 40px; margin-top: 20px;">
    Why you should choose BioToudert?
</div>
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="text-align: center; margin: 20px;">
        <img src="../../assets/images/SS/ms1.webp" alt="Image 1" class="imagelfo9" style="width: 100px; height: auto;">
        <p style="color: #C3AC92; font-weight: bold; margin-top: 10px;">Return services</p>
    </div>
    <div style="text-align: center; margin: 20px;">
        <img src="../../assets/images/SS/ms2.webp" alt="Image 1" class="imagelfo9" style="width: 100px; height: auto;">
        <p style="color: #C3AC92; font-weight: bold; margin-top: 10px;">Free and secure delivery</p>
    </div>
    <div style="text-align: center; margin: 20px;">
        <img src="../../assets/images/SS/ms3.webp" alt="Image 1" class="imagelfo9" style="width: 100px; height: auto;">
        <p style="color: #C3AC92; font-weight: bold; margin-top: 10px;">24/7 customer service</p>
    </div>
    <div style="text-align: center; margin: 20px;">
        <img src="../../assets/images/SS/ms4.webp" alt="Image 1" class="imagelfo9" style="width: 100px; height: auto;">
        <p style="color: #C3AC92; font-weight: bold; margin-top: 10px;">Secure shopping and payment</p>
    </div>
    <div style="text-align: center; margin: 20px;">
        <img src="../../assets/images/SS/ms5.webp" alt="Image 1" class="imagelfo9" style="width: 100px; height: auto;">
        <p style="color: #C3AC92; font-weight: bold; margin-top: 10px;">Original products</p>
    </div>
    <div style="text-align: center; margin: 20px;">
        <img src="../../assets/images/SS/ms6.webp" alt="Image 1" class="imagelfo9" style="width: 100px; height: auto;">
        <p style="color: #C3AC92; font-weight: bold; margin-top: 10px;">Satisfied customer</p>
    </div>
</div>

<!-- <div style="display:flex;">
<div style="padding: 40px;">
<swiper-container effect="cards" grap-cursor="true" style="width: 300px;">
    <swiper-slide><img src="https://picsum.photos/300/400?random=2" alt="Image 2"></swiper-slide>
    <swiper-slide><img src="https://picsum.photos/300/400?random=3" alt="Image 3"></swiper-slide>
    <swiper-slide><img src="https://picsum.photos/300/400?random=1" alt="Image 1"></swiper-slide>
  </swiper-container>
</div></div> -->


